{% extends "layout.html" %}
{% load static %}
{% block page_title %}
Anasayfa
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
{% endblock  %}

{% block content %}
{% include "partials/_nav.html" %}
{% include "partials/_slider.html" %}

{% include "partials/_card.html" %}
{% include "partials/_description.html" %}
{% include "partials/_hizmetler.html" %}
{% endblock %}
{% block js_files %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
