{% load static %}


<div class="row d-flex justify-content-center space-between">
    <div class="custom-card" style="width: 90rem; height: 50rem;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="custom-card-body">
            <p class="custom-card-text">Description</p>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center mt-5">
          <img src="{% static 'app/img/1.jpg' %}" alt="Your Image" class="custom-card-img">
        </div>
      </div>
    </div>
  </div>