{% load static %}
<div class="row space-between">
    <div class="col-md-4 ">
      <div class="card" style="width: 30rem;">
        <img src="{% static 'app/img/3.jpg' %}" class="card-img-top" alt="Sample Image">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 30rem;">
        <img src="{% static 'app/img/3.jpg' %}" class="card-img-top" alt="Sample Image">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 30rem;">
        <img src="{% static 'app/img/3.jpg' %}" class="card-img-top" alt="Sample Image">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row justify-content-center ">
    <div class="col-md-4 justify-content-center ">
      <div class="card" style="width: 30rem;">
        <img src="{% static 'app/img/3.jpg' %}" class="card-img-top" alt="Sample Image">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4  justify-content-center ">
      <div class="card" style="width: 30rem;">
        <img src="{% static 'app/img/3.jpg' %}" class="card-img-top" alt="Sample Image">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
  
  