{% extends "layout.html" %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
{% endblock  %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 300px;">
            <div class="card" style="height: 500px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'app/img/3.jpg' %}" class="card-img" alt="Sample Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js_files %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock js_files %}